.content {
  width: 80%;
  margin: 0px 60px 60px 60px; 
  padding: 20px;
}
.content1 {
  width: 80%; 
  margin: 0px 200px 0px 200px;
  padding: 20px;
}

h1{
  font-size: 48px;
  margin-bottom: 10px;
}
h2 {
  margin-bottom: 10px;
}

p {
  margin-bottom: 10px;
}